<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Mercado Liebre - Argentina</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <header class="header-container">
                    <div class="header-logo-container">
                        <img class="header-logo" src="./images/logo-mercado-liebre.svg" alt="">
                    </div>
                    <div class="header-search-container">
                    <form action="#" class="header-search-form">
                      <input class="header-search-input" type="text" placeholder="Buscar productos, marcas y más" name="search">
                      <button class="header-search-button" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                    </div>
                    <div class="header-container-text">
                        <i class="fas fa-hand-holding-usd header-hand-text"></i>
                        <div class="header-text">Comprá en cuotas y sin tarjeta de crédito</div>
                    </div>
                    <div class="header-burger-container">
                        <a href="#" class="hamburger-button">
                        <i class="fas fa-bars"></i>
                        </a>
                    </div>
                    


    </header>
    <main>


    </main>
    <footer>

    </footer>
</body>
</html>